@model IndexModel

<div class="navbar-inner">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="agileits-navi_search">
                <form asp-controller="Home" asp-action="ListarProdutosPorCategoria" method="post">
                    <input type="submit" value="Adicionar" class="btn btn-primary" />
                    <select asp-for="Catalogo.Categoria.Id" asp-items="@ViewBag.Categorias" name="categoriaSelecionada" id="agileinfo-nav_search" class="border" action="ListarProdutosPorCategoria" required="">

                        <option value="">All Categories</option>
                        @*@foreach (var produto in Model.Categorias)
            {
                <option value="@produto.Id">@produto.Nome</option>
            }*@

                    </select>



                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center mr-xl-5">
                    <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contato">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>