
@inject AspStore.Domain.Interfaces.IUserInContext _user

<div class="agile-main-top">
    <div class="container-fluid">
        <div class="row main-top-w3l py-2">
            <div class="col-lg-4 header-most-top">
                <p class="text-white text-lg-left text-center">
                    Turbine seu PC na AspStore
                    <i class="fas fa-shopping-cart ml-1"></i>
                </p>
            </div>
            <div class="col-lg-8 header-right mt-lg-0 mt-2">
                <!-- header lists -->
                <ul>
                    
                    @if (_user.IsAuthenticated())
                    {
                        <li class="nav-item">
                            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá !! @_user.Name !</a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" class="text-white" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-white">Sair</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="text-center border-right text-white">
                            <a asp-area="Identity" asp-page="/Account/Login" class="text-white">
                                <i class="fas fa-sign-in-alt mr-2"></i> Entre
                            </a>
                        </li>
                        <li class="text-center text-white">
                            <a asp-area="Identity" asp-page="/Account/Register" class="text-white">
                                <i class="fas fa-sign-out-alt mr-2"></i> Registrar
                            </a>
                        </li>
                    }
                </ul>
                <!-- //header lists -->
            </div>
        </div>
    </div>
</div>
